<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
<header>
    <h1>Trang chủ</h1>
    <nav>
        <ul>
            <li><a href="#">Tất cả</a></li>
            <li th:each="category : ${categories}">
                <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}"></a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h2>Tất cả sách</h2>
    <ul>
        <li th:each="book : ${books}">
            <h3 th:text="${book.name}"></h3>
            <p th:text="${book.author}"></p>
            <p th:text="${book.description}"></p>
            <p th:text="${book.price}"></p>
        </li>
    </ul>
</main>

<footer>
    <p>Trang web bán sách trực tuyến</p>
</footer>
</body>
</html>